{% extends "base.html" %}
{% load static %}

{%  block css %}
<link rel="stylesheet" href=" {% static 'food.css' %}"/>
{%  endblock %}



{% block content %}
<h1  class = "text text-center mt-5 " >I am Food Page </h1>


<section class="card_view d-flex row   justify-content-center mt-5">
   
    {% for i in meal %}
    <div class="card col-lg-3 col-12 m-2" style="width: 18rem;">
        <img src="{{i.strMealThumb}}" class="card-img-top" alt="not found">
        <div class="card-body">
            <h5 class="card-title">{{i.strMeal}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-success">Click Here</a>
        </div>
    </div> 
    {% endfor %}

</section>

{% endblock %}